
body{
    margin: 0;
    width: 100%;
    height: 100%;
}
.container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    
}
.left{
    height: 100%;
    width: 80%;
    position: relative;
}
.right{
    height: 100%;
    width:20%;
    flex-grow: 1;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-generate{
    height: 20%;
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#place-generate{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 150px;

}
.block{
    height: 100px;
    width: 100px; 
    position: absolute;
    top: 150px;
}
#platform{
    height: 20px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 30px;;
}